body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-bottom: 30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #00B7FF;
}

a:active {
    text-decoration: none;
}

.logo-enclosing{
	padding-bottom: 20px;
}

.logo-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	padding: 10px;
}

.video-player-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	padding: 20px;
	text-align: center;
}

.video-table {
	padding: 30px;
}

.video-entry:hover {
	opacity: 0.8;
	-webkit-filter: blur(3px)
}

.video-entry-image {
    position:relative;
    width:100%;
    height:100%;
    margin: 5px;
}
.video-entry-image img {
    width:100%;
    vertical-align:top;

}


.video-entry-image:after, .video-entry-image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.video-entry-image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.video-entry-image:before {
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:red;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.video-entry-image:hover:after, .video-entry-image:hover:before {
    opacity:1;
}

.video-entry-image-size {
	width: 300px;
	height: 350px;
	padding: 20px;
}

.video-entry-responsive {
	padding: 5px;
}

.object-fit_cover {
	object-fit: cover;
}

.filter-video-entry {
    -webkit-filter: contrast(1.4) saturate(1.8) sepia(.6);
    filter: contrast(1.4) saturate(1.8) sepia(.6);
}

.videoPlayerIFrame {
	width: 1000px;
	height: 400px;
}