@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dosis");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font: 14px "Dosis", Helvetica, Arial, sans-serif;
  background-color: #242327; }

a {
  margin-bottom: 30px;
  color: #638898; }
  a:link, a:visited, a:hover a:active {
    text-decoration: none; }
  a:hover {
    color: #638898; }

*:focus {
  outline: 0; }

.homepage-container {
  width: 100%;
  height: 481px;
  background-color: #FFFFFF; }
  .homepage-container .homepage-landing {
    background-image: url("/images/homepage.svg");
    width: 100%;
    height: 481px;
    overflow: hidden; }
    .homepage-container .homepage-landing .overlay {
      opacity: 0.85;
      background: rgba(99, 135, 152, 0.5);
      height: 481px;
      text-align: center; }
      .homepage-container .homepage-landing .overlay .logo-container {
        padding-top: 40px; }
        .homepage-container .homepage-landing .overlay .logo-container .title {
          font-family: 'Dosis-Regular';
          font-size: 8em;
          color: #FFFFFF;
          padding-top: 20px; }
      .homepage-container .homepage-landing .overlay .description-container {
        padding: 30px; }
        .homepage-container .homepage-landing .overlay .description-container span {
          font-family: 'AdventPro-Regular';
          font-size: 24px;
          color: #FFFFFF; }
      .homepage-container .homepage-landing .overlay .homepage-form {
        padding: 20px; }
        .homepage-container .homepage-landing .overlay .homepage-form input {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 5px; }
          .homepage-container .homepage-landing .overlay .homepage-form input .form-control {
            border: 0px; }
            .homepage-container .homepage-landing .overlay .homepage-form input .form-control:focus {
              border: 0px; }

.video-table-container {
  width: 100%;
  padding: 10px;
  background: #242327; }
  .video-table-container .video-table {
    padding: 30px; }

.video-entry-image {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px; }
  .video-entry-image img {
    width: 100%;
    vertical-align: top; }
  .video-entry-image:after, .video-entry-image:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; }
  .video-entry-image:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); }
  .video-entry-image:before {
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 4px 10px;
    text-align: center;
    background: red;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  .video-entry-image:hover:after, .video-entry-image:hover:before {
    opacity: 1; }

.navbar-container {
  width: 100%;
  height: 55px;
  background: #161820; }
  .navbar-container .logo {
    font-family: 'Dosis-Regular';
    padding-top: 4.5px;
    padding-left: 10px;
    font-size: 2.4em;
    color: #638898; }

.video-page-container {
  padding-left: 80px;
  padding-right: 80px; }
  .video-page-container .title {
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    font-family: Dosis-Regular;
    font-size: 2em;
    color: #638898; }

.video-description-container {
  width: 100%;
  background-color: #161820; }
  .video-description-container .description-text {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #638898;
    font-size: 1.5em;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis; }

.code-editor-container {
  height: 100%;
  width: 100%; }
  .code-editor-container .code-editor-nav-bar {
    height: 8%;
    width: 100%;
    background-color: #161820; }
    .code-editor-container .code-editor-nav-bar .navbar {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: relative; }
      .code-editor-container .code-editor-nav-bar .navbar .container-fluid {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0; }
        .code-editor-container .code-editor-nav-bar .navbar .container-fluid .nav {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          background-color: #161820; }
          .code-editor-container .code-editor-nav-bar .navbar .container-fluid .nav li {
            background-color: #161820;
            font-size: 1.5em;
            color: #FFFFFF;
            font-family: 'Roboto-Regular';
            font-size: 16px;
            float: left;
            padding: 7px 20px 7px 20px; }
          .code-editor-container .code-editor-nav-bar .navbar .container-fluid .nav .save {
            float: right; }
  .code-editor-container form {
    height: 92%;
    width: 100%; }
    .code-editor-container form .CodeMirror {
      height: 100%;
      width: 100%; }
    .code-editor-container form textarea {
      height: 100%;
      width: 100%;
      -webkit-box-sizing: border-box;
      /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;
      /* Firefox, other Gecko */
      box-sizing: border-box;
      /* Opera/IE 8+ */ }

.console-container {
  height: 100%;
  width: 100%; }
  .console-container iframe {
    height: 500px;
    width: 100%;
    border-style: none;
    width: 100%; }

.codearea {
  background-color: rgba(7, 54, 66, 0.99);
  color: #F4F6F7;
  font-family: 'Oxygen Mono', Consolas, 'Liberation Mono', 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  overflow: auto;
  height: 100%;
  width: 100%; }
  .codearea div, .codearea textarea {
    height: 100%;
    width: 100%; }
  .codearea:focus {
    outline: 0; }

.question-section-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden;
  background: #161820;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  color: #638898;
  opacity: 0.85; }
  .question-section-container input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px; }
    .question-section-container input .form-control {
      border: 0px;
      background-color: rgba(255, 255, 255, 0.1); }
      .question-section-container input .form-control:focus {
        opacity: 0.1;
        border: 0px; }

.code-output-container {
  font-family: 'AdventPro-Regular';
  font-size: 24px; }
  .code-output-container #output {
    padding-top: 40px;
    color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
